<div class="row" id="cardsMuestra" class="cardsMuestra">


	<div class="cardsCol col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
		<a href="/blog">  
		<div class="w3-card w3-hover-shadow" style="width:100%; background-color: #3e3e3e;">
		  <img src="https://img.itch.zone/aW1hZ2UvOTM2NjQvNDM4OTk3LnBuZw==/300x240%23c/LuYVpG.png" alt="Norway" style="width:100%; height: 225px;">
		  <div class="w3-container" id="cardTitulo">
		    <h5>Night in the Woods</h5>
		  </div>
		    <div class="w3-container " id="cardText">
		    <p>At the end of everything, hold onto anything.</p>
		  </div>
		   <div class="w3-container " id="cardTags">
		    <small>#tag #tarjeta #holi</small>
		  </div>
		</div>
     	</a>		
 	</div>
	


</div>