    <div id="pie" class="row justify-content-around">

            <div class="col-md-2">
            	<h5>Creado por</h5>
            	<p>Rocío</p>
           	</div>

            <div class="col-md-2">
            	<h5>SÍGUEME</h5>


            	<a class="icons-rs" href="https://twitter.com/azmeruq" target="_blank">
            	<i class="fab fa-twitter"></i></a>
            	</div>


            <div class="col-xl-3">
            	<img id="secul" src="img/pocima.jpg">
            </div>

    </div>