<header class="sticky-top">

   <div class="">

     <div id="topH" class="col-xs-12 mx-auto">
        <div class="row align-items-center">

          <div class="col-xs-3">
            <a class="navbar-brand" href="/">

              <img src="/img/pocima.jpg" style="width: auto; height: 70px;">

            </a>
          </div>

          <div class="col-xs-9 mx-auto">
            <h1>Laboratorio del Admin</h1>
          </div>

        </div>
      </div>

    <div id="sidebarCollapse">

    </div>

    </div>
  </header>