  <header class="sticky-top">

   <div class="">

     <div id="topH" class="col-xs-12 mx-auto">
        <nav class="row navbar navbar-toggleable-md navbar-inverse" style="background-color: #2A4047;">

          </button>
          <a class="navbar-brand" href="/">
              <img src="img/pocima.jpg" style="width: auto; height: 70px;"> 

          </a>
         <div class="col-xs-9 mx-auto">
            <h1>Redimensionador</h1>
          </div>
        </nav>  
      </div>
      



    </div>
  </header>