  <div id="sidebar" class="row">

    <div class="col-md-12 menuAdmin">
      <ul class="nav flex-column">    
        <li class="nav-item">
          <a class="nav-link" href="/admin/usuarios">Usuario</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="/admin/publicaciones">Publicación</a>
        </li>     
        
      </ul>
    </div>
  </div>